@import '../../colors';

.header {
   width: 100%;
   height: 70px; 
   background-color: $primary;
   color:$colorWhite;
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: fixed;
   top: 0;
  
  
  img {
      width: 100px;
      font-size: 24px; 
      text-transform: uppercase;
    }
    a {
      text-decoration: none; 
      color:$colorWhite;
      padding-right: 24px;
      font-size: 18px;
     text-transform: uppercase;

     &:hover {
      color: $colorHover;
     }
    } 
  }