@import "../../colors";

.sobre {
  max-width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  img {
    max-width: 100%;
    height: 400px;
   
  }

  .content {
    display: flex;
    align-items: center;
    gap: 3rem;

    .agencia {
      padding-left: 15px;
      padding-top: 70px;
    }

    h2 {
      font-size: 30px;
      margin-bottom: 24px;
      background-color: $secundary;
      color: $colorWhite;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    p {
     padding-left: 35px;
      padding-top:50px;
      font-size: 25px;
      line-height: 150%;
      margin-left: 45px;
      margin-right: 65px;
    }
  }
}

@media (max-width: 768px) {
  .sobre {
    img {
      max-width: 100%;
      height: auto;
      padding-top: 6px;
    }
    h2 {
      font-size: 15px;
      padding-top: 1px;
    }
    p {
      font-size: 15px;
      padding-bottom: 10px;
    }
  }
  .content {
      flex-direction: column;
                 

  }
  }

  @media (max-width: 412px) {
    .home {
      img {
        padding-top: 6px;
       
      }
    
      p {
        font-size: 15px;
        padding-bottom: 10px;
               
        
      }
      img {
        max-width: 100%;
        height: auto;
        padding-inline: 40px;
   }
    }
  }

  @media (width: 1024px) {
    .sobre {
      h2 {
        font-size: 15px;
        padding-top: 1px;
      }
      p {
        font-size: 15px;
        padding-bottom: 10px;
      }
      .content {
        flex-direction: column;
                   
  
    }

      }
     
     
    }

    
    

  
  

